# Global Owners: @porcuquine, @huitseeker
* @argumentcomputer/lurk-noncircuit

# CI maintenance
/.circleci/** @argumentcomputer/lurk-ci
/.config/** @argumentcomputer/lurk-ci
/.github/** @argumentcomputer/lurk-ci

# Benchmarks
/benches/** @argumentcomputer/lurk-benches

# CLI tools
/src/cli/** @argumentcomputer/lurk-cli-tools

# Circuit
/src/circuit/** @argumentcomputer/lurk-circuit
/src/lem/circuit.rs @argumentcomputer/lurk-circuit
/src/coprocessor/** @argumentcomputer/lurk-circuit
/src/coroutine/** @argumentcomputer/lurk-circuit

# Evaluation model
/src/lem/eval.rs @argumentcomputer/lurk-lem
