# Global Owners
* @porcuquine @huitseeker

# Order is important; the last matching pattern takes the most
# precedence. This excludes @huitseeker for /src/eval.rs
/src/eval.rs @porcuquine

# Circuit
# And this excludes @huitseeker for /src/circuit/**
/src/circuit/** @emmorais @porcuquine
