[package]
name = "lurk"
version = "0.1.1"
authors = ["porcuquine <porcuquine@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Turing-Complete Zero Knowledge"
edition = "2018"
repository = "https://github.com/lurk-lang/lurk-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.45"
bellperson = { version = "0.19.0" }
dirs = "4.0.0"
blstrs = "0.4.1"
ff = "0.11.0"
generic-array = "0.14.4"
itertools = "0.9"
log = "0.4.14"
memmap = "0.7"
merlin = "2.0.0"
neptune = { version = "6.0.0", default-features = false, features = ["arity2","arity4","arity8","arity16"] }
nova = { version = "0.4.1", package = "nova-snark" }
once_cell = "1.9.0"
pairing_lib = { version = "0.21", package = "pairing" }
pretty_env_logger = "0.4"
rand = "0.8"
rayon = "1.5.1"
rustyline = "9.0.0"
rustyline-derive = "0.5.0"
rand_xorshift = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
indexmap = { version = "1.8.0", features = ["rayon"] }
ahash = "0.7.6"
pasta_curves = "0.3.0"
string-interner = "0.14.0"
dashmap = "5.0.0"
libipld = { version = "0.13.1", default-features = false, features = ["dag-cbor"] }
cid = { version = "0.8.3", default-features = false, features = ["alloc"]}
multihash = { version = "0.16.1", default-features = false, features = ["alloc", "blake3"] }
num-bigint = { version = "0.4.3", default-features = false} 


[features]
default = ["gpu"]

gpu = ["neptune/opencl"]

[dev-dependencies]
criterion = "0.3.5"
structopt = { version = "0.3", default-features = false }
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"

[[bench]]
name = "eval"
harness = false

[workspace]
members = [
  "lurk_macro", "fcomm"
]
