[package]
name = "lurk"
version = "0.1.0"
authors = ["porcuquine <porcuquine@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Coming Soon"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.45"
bellperson = { version = "0.18.0" }
dirs = "4.0.0"
blstrs = "0.4.1"
ff = "0.11.0"
flexi_logger = "0.22.3"
generic-array = "0.14.4"
itertools = "0.9"
log = "0.4.14"
merlin = "2.0.0"
neptune = { version = "5.1.0", default-features = false, features = ["arity2","arity4","arity8","arity16"] }
nova = { package = "nova-snark", version = "0.4.0" }
once_cell = "1.9.0"
pairing_lib = { version = "0.21", package = "pairing" }
rand = "0.8"
rayon = "1.5.1"
rustyline = "9.0.0"
rustyline-derive = "0.5.0"
rand_xorshift = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
indexmap = { version = "1.8.0", features = ["rayon"] }
ahash = "0.7.6"
pasta_curves = "0.3.0"
string-interner = "0.14.0"
dashmap = "5.0.0"

[features]
default = ["gpu"]

gpu = ["neptune/opencl"]

[dev-dependencies]
criterion = "0.3.5"


[[bench]]
name = "eval"
harness = false

[workspace]
members = [
  "lurk_macro",
]


[patch.crates-io]
bellperson = { git = "https://github.com/filecoin-project/bellperson", branch = "instance-aggregation" }
nova = { git = "https://github.com/porcuquine/nova", package = "nova-snark" }
