[package]
name = "lurk"
version = "0.2.0"
authors = ["porcuquine <porcuquine@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Turing-Complete Zero Knowledge"
edition = "2021"
repository = "https://github.com/lurk-lab/lurk-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.69"
base64 = "0.13.1"
hex = { version = "0.4.3", features = ["serde"] }
thiserror = "1.0.38"
bellperson = { git = "https://github.com/lurk-lab/bellperson", branch = "icfp-benchmarks" }
blstrs = "0.7.0"
crossbeam = "0.8.2"
ff = "0.13"
generic-array = "0.14.6"
itertools = "0.9"
log = "0.4.17"
lurk-macros = { path = "lurk-macros" }
neptune = { git = "https://github.com/lurk-lab/neptune", branch = "icfp-benchmarks" }
nova = { package = "nova-snark", git = "https://github.com/lurk-lab/nova", branch = "icfp-benchmarks", default-features = false }
once_cell = "1.17.1"
pairing_lib = { version = "0.23", package = "pairing" }
peekmore = "1.1.0"
pretty_env_logger = "0.4"
rand_core = { version = "0.6.4", default-features = false }
rayon = "1.7.0"
rustyline-derive = "0.8.0"
rand = "0.8"
rand_xorshift = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
serde_repr = "0.1.10"
indexmap = { version = "1.9.2", features = ["rayon"] }
ahash = "0.7.6"
pasta_curves = { version = "0.5.1", features = ["repr-c", "serde"] }
string-interner = "0.14.0"
dashmap = "5.4.0"
libipld = { package = "lurk-ipld", version = "0.3.0", default-features = false, features = ["dag-cbor", "dag-json", "serde-codec"] }
cid = { version = "0.8.6", default-features = false, features = ["alloc", "serde-codec"]}
multihash = { version = "0.16.3", default-features = false, features = ["alloc", "blake3"] }
num-bigint = "0.4.3"
num_cpus = "1.10.1"
num-integer = "0.1.45"
num-traits = "0.2.15"
nom = "7.1.3"
clap = "4.1.8"
tap = "1.0.1"
anymap = "0.12.1"
bincode = "1.3.3"
abomonation = "0.7.3"
abomonation_derive = { git = "https://github.com/winston-h-zhang/abomonation_derive.git" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
memmap = { version = "0.5.10", package = "memmap2" }
pasta-msm = "0.1.4"
proptest = "1.1.0"
proptest-derive = "0.3.0"
rand = "0.8.5"
rustyline = { version = "11.0", features = ["derive", "with-file-history"], default-features = false }
home = "0.5.5"

[target.'cfg(target_arch = "wasm32")'.dependencies]
getrandom = { version = "0.2", features = ["js"] }
rustyline = { version = "11.0", features = ["derive"], default-features = false }

[features]
default = []
opencl = ["neptune/opencl"]
cuda = ["neptune/cuda", "nova/cuda"]
# compile without ISA extensions
portable = ["blstrs/portable", "pasta-msm/portable"]
flamegraph = ["pprof/flamegraph", "pprof/criterion"]

[dev-dependencies]
criterion = "0.4"
hex = "0.4.3"
sha2 = { version = "0.10.2"}
structopt = { version = "0.3", default-features = false }
tap = "1.0.1"
assert_cmd = "2.0.8"
tempfile = "3.5.0"
pprof = { version = "0.11" }
cfg-if = "1.0.0"

[build-dependencies]
vergen = "0.1"

[workspace]
members = [
 "fcomm", "clutch", "lurk-macros"
]

[[bin]]
name = "lurkrs"
path = "src/main.rs"

[profile.dev-ci]
inherits = "dev"
# By compiling dependencies with optimizations, performing tests gets much faster.
opt-level = 3
lto = "thin"
incremental = false
codegen-units = 16

[profile.dev-no-assertions]
# Some tests in the case gadget depend on debug assertions
# being off (they test release behavior in case of duplicate clauses).
inherits = "dev-ci"
debug-assertions = false

[[bench]]
name = "end2end"
harness = false

[[bench]]
name = "fibonacci"
harness = false

[[bench]]
name = "synthesis"
harness = false


[[bench]]
name = "public_params"
harness = false
