[package]
name = "lurk"
version = "0.1.1"
authors = ["porcuquine <porcuquine@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Turing-Complete Zero Knowledge"
edition = "2018"
repository = "https://github.com/lurk-lang/lurk-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.45"
thiserror = "1.0.35"
bellperson = "0.24"
dirs = "4.0.0"
blstrs = "0.6.0"
ff = "0.12.0"
generic-array = "0.14.4"
im  = "15.1.0"
itertools = "0.9"
log = "0.4.14"
memmap = { version = "0.5.8", package = "memmap2" }
neptune = { version = "8.1.0", features = ["arity2","arity4","arity8","arity16","pasta", "bls"] }
nova = { package = "nova-snark", version = "0.9.0", default-features = false }
once_cell = "1.9.0"
pairing_lib = { version = "0.22", package = "pairing" }
peekmore = "1.0.0"
pretty_env_logger = "0.4"
rand = "0.8"
rayon = "1.5.1"
rustyline = "9.0.0"
rustyline-derive = "0.5.0"
rand_xorshift = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_repr = "0.1.7"
indexmap = { version = "1.8.0", features = ["rayon"] }
ahash = "0.7.6"
pasta_curves = { version = "0.4.0", features = ["repr-c"] }
string-interner = "0.14.0"
dashmap = "5.0.0"
libipld = { package = "lurk-ipld", version = "0.1.0", default-features = false, features = ["dag-cbor", "dag-json", "serde-codec"] }
cid = { version = "0.8.4", default-features = false, features = ["alloc", "serde-codec"]}
multihash = { version = "0.16.1", default-features = false, features = ["alloc", "blake3"] }
num-bigint = "0.4.3"
num-integer = "0.1.45"
num-traits = "0.2.15"
proptest = "1.0.0"
proptest-derive = "0.3.0"

[features]
default = []
gpu = ["neptune/opencl"]

[dev-dependencies]
criterion = "0.3.5"
structopt = { version = "0.3", default-features = false }
tap = "1.0.1"

[[bench]]
name = "eval"
harness = false

[workspace]
members = [
  "lurk_macro", "fcomm"
]

[[bin]]
name = "lurkrs"
path = "src/main.rs"
