[package]
name = "lurk"
version = "0.1.1"
authors = ["porcuquine <porcuquine@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "Turing-Complete Zero Knowledge"
edition = "2018"
repository = "https://github.com/lurk-lang/lurk-rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.45"
thiserror = "1.0.35"
bellperson = { version = "0.22", default-features = false, features = ["groth16"] }
dirs = "4.0.0"
blstrs = "0.5.0"
ff = "0.12.0"
generic-array = "0.14.4"
im  = "15.1.0"
itertools = "0.9"
log = "0.4.14"
memmap = "0.7"
merlin = "2.0.0"
neptune = { version = "7.2.0", default-features = false, features = ["arity2","arity4","arity8","arity16","pasta", "bls"] }
nova = { package = "nova-snark", version = "0.8.0", default-features = false }
once_cell = "1.9.0"
pairing_lib = { version = "0.22", package = "pairing" }
peekmore = "1.0.0"
pretty_env_logger = "0.4"
rand = "0.8"
rayon = "1.5.1"
rustyline = "9.0.0"
rustyline-derive = "0.5.0"
rand_xorshift = "0.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
serde_repr = "0.1.7"
indexmap = { version = "1.8.0", features = ["rayon"] }
ahash = "0.7.6"
pasta_curves = { version = "0.4.0", features = ["repr-c"] }
pasta-msm = "0.1.1"
string-interner = "0.14.0"
dashmap = "5.0.0"
libipld = { package = "lurk-ipld", version = "0.1.0", default-features = false, features = ["dag-cbor", "dag-json", "serde-codec"] }
cid = { version = "0.8.4", default-features = false, features = ["alloc", "serde-codec"]}
multihash = { version = "0.16.1", default-features = false, features = ["alloc", "blake3"] }

[features]
default = ["bellperson/default", "nova/default"]

gpu = ["neptune/opencl"]

[dev-dependencies]
criterion = "0.3.5"
structopt = { version = "0.3", default-features = false }
quickcheck = "1.0.3"
quickcheck_macros = "1.0.0"

[[bench]]
name = "eval"
harness = false

[workspace]
members = [
  "lurk_macro", "fcomm"
]

[[bin]]
name = "lurkrs"
path = "examples/repl.rs"

[patch.crates-io]
bellperson = { git = "https://github.com/lurk-lang/bellperson", branch = "sb/serde" }
pasta_curves = { git = "https://github.com/lurk-lang/pasta_curves", branch = "sb/serde" }
neptune = { git = "https://github.com/lurk-lang/neptune", branch = "sb/serde" }
nova-snark = { git = "https://github.com/lurk-lang/Nova", branch = "sb/serde" }