name: CI tests

on:
  merge_group:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: buildjet-16vcpu-ubuntu-2204
    steps:
      - uses: actions/checkout@v4
        with:
          repository: argumentcomputer/ci-workflows
      - uses: ./.github/actions/ci-env
      - uses: ./.github/actions/install-deps
        with:
          packages: 'pkg-config libssl-dev protobuf-compiler libprotobuf-dev'
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - name: Linux Tests
        run: |
          cargo nextest run --profile ci --workspace --cargo-profile dev-ci
      - name: Linux Gadget Tests w/o debug assertions
        run: |
          cargo nextest run --profile ci --workspace --cargo-profile dev-no-assertions -E 'test(circuit::gadgets)'

  # Rustfmt, clippy, doctests
  code-quality:
    uses: argumentcomputer/ci-workflows/.github/workflows/lints.yml@main
    with:
      packages: 'protobuf-compiler libprotobuf-dev'

  # Checks `cargo build --target wasm32-unknown-unknown`
  wasm:
    uses: argumentcomputer/ci-workflows/.github/workflows/wasm.yml@main

  # Checks MSRV specified by `rust-version` in `Cargo.toml`
  msrv:
    uses: argumentcomputer/ci-workflows/.github/workflows/msrv.yml@main
    with:
      packages: 'protobuf-compiler libprotobuf-dev'

  # Check documentation links aren't broken
  link-checker:
    uses: argumentcomputer/ci-workflows/.github/workflows/links-check.yml@main
    with: 
      fail-fast: true

  # Lint dependencies for licensing and auditing issues as per https://github.com/argumentcomputer/lurk-beta/blob/main/deny.toml
  licenses-audits:
    uses: argumentcomputer/ci-workflows/.github/workflows/licenses-audits.yml@main
