# Runs the test suite on a self-hosted GPU machine with CUDA enabled
name: GPU tests

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches: [main]
  merge_group:


concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  gpu-ci:
    name: Rust GPU tests
    uses: argumentcomputer/ci-workflows/.github/workflows/gpu-ci-cuda.yml@main
